<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Recipe name</th>
      <th scope="col">Recipe source</th>
      <th scope="col">Number of Ingredients</th>
      <th scope="col">List of Ingredients</th>
      <th scope="col">Preparation instructions</th>
      <th scope="col">Preparation time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes; let i = index">
      <th scope="row">{{ i }}</th>
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.source }}</td>
      <td>{{ recipe.ingredients.length }}</td>
      <td>{{ recipe.ingredients | ingredientList }}</td>
      <td>
        {{
          recipe.instructions.length < 50
            ? recipe.instructions
            : recipe.instructions.substring(0, 50) + "..."
        }}
      </td>
      <td>{{ recipe.preparationTime | preparationTime }}</td>
      <td>
        <button type="button" class="btn btn-info" (click)="onDetailsSubmit(i)">
          Details
        </button>
      </td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
