<form class="mt-3" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        formControlName="name"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputSource">Source</label>
      <input class="form-control" id="inputSource" formControlName="source" />
    </div>
  </div>
  <div formArrayName="ingredients">
    <div
      class="form-row"
      *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
      [formGroupName]="i"
    >
      <div class="form-group col-md-6">
        <label for="inputIngredient">Igredient</label>
        <select
          class="form-control"
          id="inputIngredient"
          formControlName="name"
        >
          <option *ngFor="let range of ranges" [ngValue]="range">
            {{ range }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputAmount">Amount</label>
        <input
          type="number"
          class="form-control"
          id="inputAmount"
          formControlName="amount"
        />
      </div>

      <div
        class="form-group col-md-2 d-flex flex-column justify-content-end"
        *ngIf="i < 1"
      >
        <button
          type="button"
          class="btn btn-success form-control align-baseline"
          id="inputAmount"
          (click)="onAddIngredient()"
        >
          &#65291;
        </button>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPreparation">Preparation time</label>
      <input
        type="text"
        class="form-control"
        id="inputPreparation"
        placeholder="minutes"
        formControlName="preparationTime"
      />
    </div>

    <div class="form-group col-md-12">
      <label for="inputDescription">Preparation instructions</label>
      <textarea
        type="text"
        class="form-control"
        id="inputDescription"
        formControlName="instructions"
      ></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">
    Save
  </button>
</form>
